body {
    padding: 0;
    margin: 0;
  }
  #map-id {
    height: 600px;
  }
  /* #map-id, */
  body,
  html {
    height: 100%;
  } 
/* Style the footer */
footer {
  position:fixed;
  width: 100%;
  background-color: #990000;
  padding: 10px;
  text-align: center;
  color: white;
}
main {
  height:auto;
  min-height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.fakeimg {
  height: 200px;
  background: rgb(199, 203, 241);
}

article {
  float: left;
  padding: 30px;
  width: 100%;
  background-color: #f1f1f1;
  height: 100%; 
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

